@{
    ViewData["Title"] = "Confirm password reset";
}

@*<header>
    @Html.PartialAsync("_MenuBar").Result
</header>*@

<section class="row">
    <h2>
        @ViewBag.Message<br />
        An email with password reset link was sent!<br />
        Check your mail box and open a link.
    </h2>
</section>